.carta {
  width: 150px;
  height: 150px;
  perspective: 1000px;
}

.carta > div {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.carta img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  backface-visibility: hidden;
}

.delante {
  transform: rotateY(180deg);
}

.atras {
  transform: rotateY(0deg);
  cursor: pointer;
  transition-delay: 0.2s;
}

.volteada {
  transform: rotateY(180deg);
}
